.page-two {
  
  
  .about-project {
    color: black;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 3.0em;

  }

  .paragraph-text {
    font-family: 'Saira', sans-serif;
    font-size: 1.5em;
  }
  
}