.container {
  width: 100%;
  margin: 0 auto;
}

.container-content {
  max-width: 50em;
  padding: 0 1em;
}

@media only screen and (max-width: 768px) {
  .site-title {
    font-size: 1.4rem; 
  }
  .site-nav {
    font-size: 1.2rem; 
  }
}